* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    color: white;
}

.nav {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav>.nav-header {
    font-size: 32px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.nav>.nav-header span {
    font-size: 40px;
    color: #FF9898;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    background-color: #ff9898;
    border-radius: 4px;
}



.nav>#nav-check {
    display: none;
}


/* nav bar responsive design for large device */
/* =======================================================LARGE==================================== */
@media (max-width:1024px) {
    .nav>.nav-header {
        font-size: 28px;
        padding: 10px;
    }

    .nav>.nav-links>a {
        padding: 13px 10px;
        font-size: 18px;
        font-weight: 500;
    }
}

/* nav bar responsive design for tablet */
/* =======================================================TABLET==================================== */
@media (max-width:768px) {
    .nav>.nav-header {
        font-size: 26px;
    }

    .nav>.nav-links>a {
        font-size: 16px;
    }
}

/* navBar responsive for mobile */
/* ======================================MOBILE============================================= */
@media (max-width:640px) {
    .nav {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .nav>.nav-header {
        display: flex;
        align-items: center;
        font-size: 24px;
        padding: 10px;
    }

    .nav>.nav-btn {
        width: 22px;
        height: 22px;
        display: block;
        margin-right: 10px;
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #ffffff;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        height: 0px;
        transition: all 0.5s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
        font-size: 18px;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

/* ========================================================================= */
/*                                 nav bar end                 
/* ========================================================================= */
/* main css style start */
/* ============================================ */

.main-container {
    max-width: 1536px;
    margin: 150px auto;
    padding: 0 20px;
}

.about-container {
    display: flex;
    gap: 200px;
}

.about-children-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-image span {
    display: block;
    width: 470px;
    height: 470px;
    border-radius: 50%;
    background-color: #C0B7E8;
}

.about-image {
    position: relative;
    width: 450px;
    height: 450px;

}

.about-image img {
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #635f7463;

}

.about-details p {
    font-family: "Nunito Sans";
    color: rgba(255, 253, 253, 0.623);
    font-size: 25px;
    margin-top: 50px;
}

.about-details h5 {
    font-size: 35px;
    line-height: normal;
    margin-top: 50px;
    display: block;
    font-family: "Nunito Sans";
}

/* about children container2 */

.about-children-container2 {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.about-title {
    font-family: "Robot Condensed";
    font-size: 62px;
    font-weight: 800;
    text-align: center;
}

.about-detail {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

.about-detail-icons span {
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: #C0B7E8;
    box-shadow: #C0B7E8 0px 7px 29px 0px;
}

.service-details h3 {
    font-size: 40px;
    font-weight: 600;
}

.service-details p {
    font-size: 20px;
    margin: 0;
}

/* responsive in laptop device 1024px */
/* ======================================================= */
@media (max-width: 1024px) {
    .main-container {
        margin: 100px auto;
    }

    .about-container {
        gap: 110px;
    }

    /* todo */
    .about-children-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .about-image span {
        width: 300px;
        height: 300px;
    }

    .about-image {
        width: 280px;
        height: 280px;

    }

    .about-details p {
        font-size: 20px;
        margin-top: 20px;
    }

    .about-details h5 {
        font-size: 22px;
        font-weight: 400;
        margin-top: 20px;
    }

    /* about children container2 */

    .about-title {
        font-size: 44px;
    }

    .about-detail {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 20px;
    }

    .about-detail-icons span {
        font-size: 26px;
    }

    .service-details h3 {
        font-size: 26px;
        font-weight: 500;
    }

    .service-details p {
        font-size: 18px;
        margin: 0;
    }
}

/* responsive in tablet device 768px */
/* ======================================================= */
@media (max-width: 768px) {
    .main-container {
        margin: 50px auto;
    }

    .about-container {
        gap: 100px;
    }

    /* todo */
    .about-children-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .about-image span {
        width: 220px;
        height: 220px;
    }

    .about-image {
        width: 190px;
        height: 190px;

    }

    .about-image img {
        position: absolute;
        top: 0;
        left: 0;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #635f7463;

    }

    .about-details p {
        font-size: 18px;
        margin-top: 20px;
    }

    .about-details h5 {
        font-size: 20px;
        font-weight: 400;
        margin-top: 20px;
    }

    /* about children container2 */

    .about-title {
        font-size: 42px;
    }

    .about-detail {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 20px;
    }

    .about-detail-icons span {
        font-size: 25px;
    }

    .service-details h3 {
        font-size: 25px;
        font-weight: 500;
    }

    .service-details p {
        font-size: 16px;
        margin: 0;
    }
}

/* responsive in mobile device 640px */
/* ======================================================= */

@media (max-width: 640px) {

    .main-container {
        padding: 0 20px;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .about-children-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-image {
        position: relative;
        width: 320px;
        height: 320px;

    }

    .about-image span {
        display: block;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        background-color: #5454d49f;
    }

    .about-image img {
        position: absolute;
        top: 0;
        left: 0;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #5454D4;

    }

    .about-details p {
        font-family: "Nunito Sans";
        color: rgba(255, 253, 253, 0.623);
        font-size: 20px;
        margin-top: 20px;
    }

    .about-details h5 {
        font-size: 25px;
        line-height: normal;
        margin-top: 20px;
        display: block;
        font-family: "Nunito Sans";
    }

    /* about children container2 */

    .about-title {
        font-family: "Robot Condensed";
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 50px;
    }

    .about-detail {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        padding: 20px;
        background-color: rgb(24, 19, 65);
        border-radius: 10px;
    }

    .about-detail-icons span {
        color: rgb(255, 255, 255);
        font-size: 50px;
        padding: 10px;
        border-radius: 10px;
        background-color: #5454D4;
        box-shadow: #5454D4 0px 7px 29px 0px;
    }

    .service-details h3 {
        font-size: 30px;
        font-weight: 600;
    }

    .service-details p {
        font-size: 20px;
        margin: 0;
    }

}