* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    color: white;
}

.nav {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav>.nav-header {
    font-size: 32px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.nav>.nav-header span {
    font-size: 40px;
    color: #FF9898;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    background-color: #ff9898;
    border-radius: 4px;
}



.nav>#nav-check {
    display: none;
}


/* nav bar responsive design for large device */
/* =======================================================LARGE==================================== */
@media (max-width:1024px) {
    .nav>.nav-header {
        font-size: 28px;
        padding: 10px;
    }

    .nav>.nav-links>a {
        padding: 13px 10px;
        font-size: 18px;
        font-weight: 500;
    }
}

/* nav bar responsive design for tablet */
/* =======================================================TABLET==================================== */
@media (max-width:768px) {
    .nav>.nav-header {
        font-size: 26px;
    }

    .nav>.nav-links>a {
        font-size: 16px;
    }
}

/* navBar responsive for mobile */
/* ======================================MOBILE============================================= */
@media (max-width:640px) {
    .nav {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .nav>.nav-header {
        display: flex;
        align-items: center;
        font-size: 24px;
        padding: 10px;
    }

    .nav>.nav-btn {
        width: 22px;
        height: 22px;
        display: block;
        margin-right: 10px;
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #ffffff;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        height: 0px;
        transition: all 0.5s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
        font-size: 18px;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

/* ========================================================================= */
/*                                 nav bar end                 
/* ========================================================================= */




/* ============================================= */
/*            LOGIN FORM design */
/* ============================================= */

.login-form-container {
    max-width: 1536px;
    margin: 150px auto;
    background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
    border-radius: 50px;
    padding: 100px;
}

.login-form-title h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.login-form-title hr {
    max-width: 70%;
    margin: 5px auto auto auto;
    height: 2px;
}

.login-form-title p {
    text-align: center;
    margin-top: 5px;
    font-size: 40px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}

/* form */
.main-form {
    margin-top: 40px;
}

.fast-input-box {
    display: flex;
    gap: 20px;
}

.fast-input-box input {
    display: block;
    width: 100%;
    margin-top: 30px;
    padding: 13px 20px;
    border-radius: 40px;
    background-color: #403a5f70;
    border: 2px solid rgba(255, 255, 255, 0.712);
    color: white;
    outline: none;
}

.fast-input-box :focus {
    background: #00000041;
    border: 2px solid white;
}

.second-input-box input {
    display: block;
    width: 100%;
    margin-top: 30px;
    padding: 13px 20px;
    border-radius: 40px;
    background-color: #403a5f70;
    border: 2px solid rgba(255, 255, 255, 0.712);
    color: white;
    outline: none;
}

.second-input-box :focus {
    background: #00000041;
    border: 2px solid white;
}

.second-input-box textarea {
    width: 100%;
    height: 180px;
    margin-top: 30px;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: #403a5f70;
    border: 2px solid rgba(255, 255, 255, 0.712);
    color: white;
    outline: none;
}

/* form btn */
.form-btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.form-btn input {
    align-items: center;
    background-image: linear-gradient(#8176AF, #C0B7E8);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: CircularStd, sans-serif;
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 40px;
}

.form-btn input:hover {
    background-position: -20px -20px;
}

/*     LOGIN FORM responsive in laptop 1024px */
/* ============================================= */
@media (max-width: 1024px) {
    .login-form-container {
        margin-top: 100px;
        padding: 30px;
    }

    .login-form-title h3 {
        font-size: 35px;
    }

    .login-form-title p {
        font-size: 35px;
    }

    /* form btn */
    .main-form {
        margin-top: 20px;
    }
}

/*     LOGIN FORM responsive in tablet 768px */
/* ============================================= */
@media (max-width: 768px) {
    .login-form-container {
        padding: 2 0px;
    }

    .login-form-title h3 {
        font-size: 30px;
    }

    .login-form-title p {
        font-size: 30px;
    }
}

/*     LOGIN FORM responsive in mobile 640px */
/* ============================================= */
@media (max-width: 640px) {
    .login-form-container {
        margin-top: 50px;
        border-radius: 20px;
        padding: 20px 15px;
    }

    .login-form-title h3 {
        text-align: center;
        font-size: 30px;
    }

    .login-form-title p {
        text-align: center;
        font-size: 30px;
        font-weight: 250;
    }

    /* form */
    .main-form {
        margin-top: 10px;
    }

    .fast-input-box {
        display: block;
    }

    /* form button */
    .form-btn {
        margin-top: 15px;
    }

    .form-btn input {
        background-image: linear-gradient(#8176af, #c0b7e894);
        font-size: 16px;
        padding: 6px 20px;
        box-shadow: rgba(153, 153, 179, 0.719) 0px 8px 24px, rgba(114, 114, 160, 0.76) 0px 1px 2px;
    }
}




/* ============================================================================ */
/*                               FOOTER DESIGN                                  */
/* ============================================================================ */

.footer {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.footer-item-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.footer-item-1,
.footer-item-2,
.footer-item-3 {
    border-right: 3px solid rgba(255, 255, 255, 0.596);
    padding-right: 50px;
    border-color: rgba(255, 255, 255, 0.336);
    margin-right: 20px;
}

.footer-item-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-item-1 span {
    font-size: 150px;
    color: #8176AF;
    padding: 10px;
}

.footer-item-2 ul li,
.footer-item-3 ul li {
    list-style: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
}

.footer-item-4 h3 {
    text-transform: uppercase;
    font-weight: 400;
}

.footer-social-icons {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.footer-social-icons div img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* footer btn */
.footer-btn button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.footer-btn button {
    align-items: center;
    text-transform: uppercase;
    background-image: linear-gradient(#8176AF, #C0B7E8);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: CircularStd, sans-serif;
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
}

.footer-btn button:hover {
    background-position: -20px -20px;
}

.footer-hr-line {
    width: 80%;
    margin: 100px auto 0 auto;
    border-color: rgba(255, 255, 255, 0.322);
}

/* footer bottom */
.footer-bottom {
    margin-top: 50px;
    text-align: center;
}

/* RESPONSIVE IN laptop DEVICE 768PX */
/* ================================================== */
@media (max-width: 1024px) {

    .footer-item-1,
    .footer-item-2,
    .footer-item-3 {
        padding-right: 20px;
        margin-right: 10px;
    }

    .footer-item-1 span {
        font-size: 130px;
        padding: 10px;
    }

    .footer-item-2 ul li,
    .footer-item-3 ul li {
        font-size: 16px;
        line-height: 25px;
    }

    .footer-item-4 h3 {
        font-size: 14px;
    }

    .footer-social-icons {
        gap: 5px;
        margin: 10px 0;
    }

    .footer-social-icons div img {
        width: 16px;
        height: 16px;
    }

    /* footer btn */
    .footer-btn button {
        margin-top: 5px;
    }

    .footer-btn button {
        border-radius: 80px;
        font-size: 10px;
        font-weight: 400;
        padding: 6px 10px;
    }

}

/* RESPONSIVE IN TABLET DEVICE 768PX */
/* ================================================== */
@media (max-width: 768px) {

    .footer-item-1,
    .footer-item-2,
    .footer-item-3 {
        padding-right: 20px;
        margin-right: 10px;
    }

    .footer-item-1 span {
        font-size: 120px;
        color: #8176AF;
        padding: 10px;
    }

    .footer-item-2 ul li,
    .footer-item-3 ul li {
        font-size: 14px;
        line-height: 25px;
    }

    .footer-item-4 h3 {
        font-size: 14px;
    }

    .footer-social-icons {
        gap: 5px;
        margin: 10px 0;
    }

    .footer-social-icons div img {
        width: 16px;
        height: 16px;
    }

    /* footer btn */
    .footer-btn button {
        margin-top: 5px;
    }

    .footer-btn button {
        border-radius: 80px;
        font-size: 10px;
        font-weight: 400;
        padding: 6px 10px;
    }

}

/* RESPONSIVE IN MOBILE DEVICE 640PX */
/* ================================================== */
@media (max-width: 640px) {
    .footer {
        margin-top: 100px;
    }

    .footer-item-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .footer-item-1 {
        border: none;
        margin: 0;
        padding: 0;
    }

    .footer-item-1 span {
        font-size: 350px;
        color: #8176AF;
        padding: 0;
    }

    .footer-item-2,
    .footer-item-3 {
        display: none;
    }

    .footer-item-4 {
        text-align: center;
    }

    .footer-social-icons div img {
        width: 32px;
        height: 32px;
    }

    .footer-hr-line {
        margin-top: 30px;
    }

    .footer-btn {
        display: flex;
        justify-content: center;
    }
}